<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.help.mapper.HelpMapper">
    
    <resultMap type="Help" id="HelpResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="userType"    column="user_type"    />
        <result property="materialName"    column="material_name"    />
        <result property="description"    column="description"    />
        <result property="position"    column="position"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectHelpVo">
        select id, user_id, user_type, material_name, description, position, create_by, create_time, update_by, update_time, remark from t_help
    </sql>

    <select id="selectHelpList" parameterType="Help" resultMap="HelpResult">
        <include refid="selectHelpVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="userType != null "> and user_type = #{userType}</if>
            <if test="materialName != null  and materialName != ''"> and material_name like concat('%', #{materialName}, '%')</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="position != null "> and position = #{position}</if>
        </where>
    </select>
    
    <select id="selectHelpById" parameterType="Long" resultMap="HelpResult">
        <include refid="selectHelpVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertHelp" parameterType="Help" useGeneratedKeys="true" keyProperty="id">
        insert into t_help
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="userType != null">user_type,</if>
            <if test="materialName != null and materialName != ''">material_name,</if>
            <if test="description != null and description != ''">description,</if>
            <if test="position != null">position,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="userType != null">#{userType},</if>
            <if test="materialName != null and materialName != ''">#{materialName},</if>
            <if test="description != null and description != ''">#{description},</if>
            <if test="position != null">#{position},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateHelp" parameterType="Help">
        update t_help
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="userType != null">user_type = #{userType},</if>
            <if test="materialName != null and materialName != ''">material_name = #{materialName},</if>
            <if test="description != null and description != ''">description = #{description},</if>
            <if test="position != null">position = #{position},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHelpById" parameterType="Long">
        delete from t_help where id = #{id}
    </delete>

    <delete id="deleteHelpByIds" parameterType="String">
        delete from t_help where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>